<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper orange">
      <a href="/" class="brand-logo">   One Month One Mountain!</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% include navigation-menu.html %}
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav orange" id="mobile-demo">
  {% include navigation-menu.html %}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });
</script>
